#header {
  display: flex;
  gap: 20px;
  height: 100vh;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

/* INICIO NAV BAR */
.nav {
  display: flex;
  background-color: transparent;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: red;
  /*
  .ul{
      display: none;
  }*/
}
.nav .logo {
  width: 75px;
  aspect-ratio: 16/9;
}
.nav .logo #logo {
  min-width: 100%;
  height: 100%;
  object-position: center;
  display: block;
  border-radius: 20px;
}
.nav .ul-script {
  background-color: gray;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: absolute;
  width: 300px;
  height: 500px;
  top: 0;
  right: 0;
}
.nav .ul-script li {
  cursor: pointer;
  font-size: 2rem;
}
.nav .ul-script li:hover {
  text-decoration: underline;
}
.nav span {
  cursor: pointer;
  z-index: 2;
}

@media screen and (min-width: 768px) {
  .nav .ul {
    display: flex;
    font-size: clamp(1rem, 0.643rem + 0.952vw, 1.5rem);
    gap: clamp(3rem, 0.857rem + 5.714vw, 6rem);
    transition: color 0.5s;
  }
  .nav .ul li {
    list-style: none;
    cursor: pointer;
  }
  .nav .ul li:hover {
    text-decoration: underline;
  }
  .nav span {
    display: none;
  }
  .nav .ul-script {
    display: none;
  }
}
/* FIN NAV BAR */
/* HERO */
#header #hero {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 90%;
}
#header #hero h1 {
  font-size: clamp(2.5rem, -0.5rem + 6.25vw, 3.5rem);
}
#header #hero p {
  font-size: clamp(1rem, -0.5rem + 3.125vw, 1.5rem);
}

#header #hero .img-blur {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url();
  background-position: center;
  background-size: cover;
  top: 0;
  left: 0;
  opacity: 0.2;
  z-index: -1;
  filter: blur(2px);
}

#header #hero .img-hero {
  width: clamp(15rem, 70vw, 43.75rem);
  aspect-ratio: 16/9;
  margin: auto;
  background-image: url();
  background-size: cover;
  background-position: center;
  border-radius: 50px;
}

@media screen and (min-width: 768px) {
  #header #hero {
    width: 70%;
  }
}
/*  PRINCIPAL */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: 0.25s ease-in;
}
